<%= simple_form_for @club, :html => { :class => 'form-stacked' } do |form| %>
  <fieldset>
    <legend>Club information</legend>

    <%= form.input :name %>
  </fieldset>
   
  <div class="actions">
    <%= form.submit :class => 'btn' %>
  </div>
<% end %>
