<h2>Clubs</h2>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td>
          <%= club.name %>
        </td>
        <td>
          <%= link_to 'Edit', edit_club_path(club), :class => 'btn info' %>
          <%= link_to 'Remove', club_path(club), :method => :delete, :confirm => 'Are you sure?', :class => 'btn danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'List of clubs', clubs_path, :class => 'btn' %>
