<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>B채stboll/S채mstboll</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>B채stboll/S채mstboll</h1>

    <%= yield %>

  </body>
</html>
